# StillOS CRM API
STILLOS_API_URL=https://insurecentralhq.com
STILLOS_CRM_KEY=stillos-crm-2026

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://khyqyvmfrzseloydjjxt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
